h1{
    text-align: center;
}

div.parent{
    padding-left: 600px;
}

div.box{
    height: 100px;
    width: 100px;
    background-color: #00ffff;
    border-radius: 50px;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 50px;
}