*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: xx-large;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#first{
    display: flex;
    background-color: #f9cc9d;
    border: 3px solid #080808;
    border-style: dashed;
    width: 700px;
    height: 500px;
    justify-content:center;
    align-items: center;
}

#second{
    background-color: #fddd9b;
    border: 3px solid #080808;
    width: 550px;
    height: 350px;
    display: flex;
     justify-content:center;
    align-items: center;
}

#Third{
    background-color: #c3d88b;
     border: 3px solid #080808;
     width: 400px;
     height: 280px;
     border-style: dashed;
     display: flex;
     justify-content:center;
    align-items: center;
}

#fourth{
    background-color: #8cb6c0;
     border: 3px solid #080808;
     width: 250px;
     height: 150px;
     display: flex;
     justify-content:center;
    align-items: center;
}

/*first box element */

#Margin{
    position: absolute;
    top: 180px;
    left: 330px;
    font-size: xx-large;
}

#Zero-top{
    position: absolute;
    top: 200px;
}

#Zero-right{
    position: absolute;
    left: 330px;
}

#Zero-left{
    position: absolute;
    right: 330px;
}

#Zero-bottom{
    position: absolute;
    top: 640px;
}

/* Second box element */

#Border{
    position: absolute;
    top: 250px;
    left: 400px;
}
#Zero-one{
    position: absolute;
    top: 250px;
}

#Zero-two{
    position: absolute;
    left: 400px;
}

#Zero-three{
    position: absolute;
    right: 400px;
}
#Zero-four{
    position: absolute;
    top: 570px;
}

/* Third box element */

#Padding{
    font-size: x-large;
    position: absolute;
    top: 300px;
    left: 480px;
}

#Zero-1{
    position: absolute;
    left: 475px;
    font-size: x-large;
}

#Zero-2{
    position: absolute;
    right: 475px;
    font-size: x-large;
}

#Zero-3{
    position: absolute;
    font-size: x-large;
    top: 315px;
}

#Zero-4{
    position: absolute;
    font-size: x-large;
    bottom: 20px;
}